# n8n environment variables
DB_TYPE=postgresdb
DB_POSTGRESDB_DATABASE=
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=
DB_POSTGRESDB_USER=
DB_POSTGRESDB_PASSWORD=

# PostgreSQL environment variables
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=